[submodule "registry/models"]
	path = registry/models
	url = git@bioinfo-git.cnic.es:imarcoss/bioimaging-models.git
[submodule "registry/containers"]
	path = registry/containers
	url = git@bioinfo-git.cnic.es:imarcoss/bioimaging-containers.git
