[submodule "registry/containers"]
	path = registry/containers
	url = git@bioinfo-git.cnic.es:imarcoss/bioimaging-containers.git
[submodule "registry/models"]
	path = registry/models
	url = git@bioinfo-git.cnic.es:imarcoss/bioimaging-models.git
[submodule "src/nvitk/pipes/qvtplus/src"]
	path = src/nvitk/pipes/qvtplus/src
	url = git@github.com:ignacio-ms/QVTplus.git
[submodule ".nvitk"]
	path = .nvitk
	url = git@github.com:ignacio-ms/nvitk-config.git
