[submodule "registry_models"]
	path = registry_models
	url = git@bioinfo-git.cnic.es:imarcoss/bioimaging-models.git
[submodule "registry_containers"]
	path = registry_containers
	url = git@bioinfo-git.cnic.es:imarcoss/bioimaging-containers.git
