data/
*.nii
*.nii.gz
*.mha
*.tif
*.tiff
*.png
*.jpg
*.jpeg
*.dcm

test/
tests/
!tests/
!tests/**/*.py
# docs/
.config/
.config/*
.nvitk/xnat.json

# Site-local SGE overrides
# .nvitk/sge.json

src/nvitk.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.mat
notebooks/exploration/pesabrain-anatomy/checkpoints/*

# Virtual environments
# .env
# .venv
# env/
# venv/
# ENV/

# Conda
*.conda
*.tar.bz2

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# Spyder
.spyderproject
.spyproject

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
*.err

# Coverage
.coverage
htmlcov/

# Testing
.pytest_cache/

# Mypy
.mypy_cache/

# Temporary files
*.tmp
*.swp

# Data files (edit to your needs)
data/
results/
outputs/
dataset/
dataset/*
dataset/cache/*
!dataset/cache/.gitkeep

# Large microscopy / imaging files (edit extensions as needed)
*.tif
*.tiff
*.nii
*.nii.gz
*.h5
*.hdf5